.site {
	width: 500px;
}

.right {
	float: right;
}

.contact {
	float: left;
	margin: 3em;
}

.adhese {
	margin-top: 2em;
}

.date {
	font-size: 0.8em;
	text-transform: uppercase;
}

pre {
	overflow: auto;
	width: 480px;
}

img {
	float: left;
	margin: 10px;
}